  <%= Gon::Base.render_data %>
<div id='contentContainer'>
  <h1><%= @place.name %></h1>
  <h2><%= @country %></h2>

  <div id='showMap' > 
  </div>
  <div id='images'>
    <% @photos.each do |photo| %>
    <div class='imgThumb'>
    <%= image_tag(photo.url) %>
    </div>
    <% end %>
  </div>
  <p> Location: <%= @place.lat %>, <%= @place.long %></p>
  
  <%= link_to 'Edit', edit_place_path(@place) %> |
  <%= link_to 'Back', places_path %>
</div>  

<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"> </script>