<!DOCTYPE html>
<html>
<head>
  <title>Cosmos</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
  <body>
   
    <div class="wrapper">
      <header>
        <h1>Cosmos.io</h1>
        <ul class="nav-list">
          <li class="download"><a href="/places">Map</a></li>
          <li class="features"><a href="#">Trending </a></li>
          <li class="method"><a href="#">Browse</a></li>
          <li class="purchase"><a href="/photos/new">Upload</a></li>
          </ul> 
      </header>
       <div id='mainContent'>
          <%= yield %>
        </div>
    </div>
      <footer>
        <div id='footer_text'>Niall Wallace
        GHub: <a href="#" class="red">CrocoNiall</a></div>
      </footer>
    
  </body>

</html>
